// Gray colors
$black: #000;
$gray-xxxl:  #313131;
$gray-xxl:  #444;
$gray-xl:  #999;
$gray-default:  #BABABA;
$gray-xs:  #E0E0E0;
$gray-xxs:  #EEE;
$gray-xxxs:  #FAFAFA;
$white:  #FFF;

$action: #FF5A5A;

//System Color
$error-xxl: #680001;
$error-xl: #8B0303;
$error-default: #E52B2C;
$error-xs: #FF5152;
$error-xxs: #FFA5A5;
$error-xxxs: #FFD9DA;

$error-complementary: #ffdcdb;

$warning-xxl: #916600;
$warning-xl: #BF8601;
$warning-default: #FBB102;
$warning-xs: #FFCC4F;
$warning-xxs: #FFDE8F;
$warning-xxxs: #FFF0CC;

$success-xxl: #174C08;
$success-xl: #360;
$success-default: #5CBA42;
$success-xs: #7BE060;
$success-xxs: #B0FB9E;
$success-xxxs: #DCFFD4;

// Initial colors only for diff calculations

$primary-xxxs: #d7f5f7;
$primary-xxs: #64dbe8;
$primary-xs: #3ac2cf;
$primary-default: #0aafc2;
$primary-xl: #077f8c;
$primary-xxl: #005961;
$primary-xxxl: #003238;

$primary-complementary: #d7f5f7;
